{% load static %}
    <!-- Hero Section Begin -->
    <section class="hero spad set-bg" data-setbg="{% static 'img/hero-door.jpeg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero__text">
                        <span>🔎 원하는 방을 찾아가세요 </span>
                        <h2>FIND AND DESIGN YOUR FUTURE!</h2>
                        <a href="#" class="primary-btn normal-btn">WHTCH MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->