{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"> -->

    <title>교직원식당 주간 메뉴</title>
</head>

<body>

    <div class="container" id="wrap">
        <h1>교직원식당 주간 메뉴(6월 14일 ~ 6월 18일) 안내</h1>
        <img src="{% static 'img/20210614_110149900_03762.jpg' %}" alt="">
    </div>
    <!-- <div id="wrap">
        <div class="header">
            <h1>교직원식당 주간 메뉴(6월 14일 ~ 6월 18일) 안내</h1>
        </div>
        <div class="nav"></div>
        <div class="side"></div>
        <div class="contents">
            <img src="{% static 'img/20210614_110149900_03762.jpg' %}" alt="">
        </div>
        <div class="footer"></div>
    </div> -->

</body>

</html>